body{
    margin: 10%;
    color: white;
}
.colors{
    align-content: left;
}

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
